<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет модуля упругости при расятжении</title>
</head>
<body>
    <h1 style="color:#000000; font-family:Times New Roman;">Расчет модуля упругости при растяжении</h1>
    <form action="" method="post">
    <fieldset>
        <legend>Введите параметры</legend>
    <p>
        <label for="mf">Соотношение матрица-наполнитель, МПа</label>
	    <input type="text" name="mf" required>
    </p><p>
	    <label for="pl">Плотность (кг/м3)</label>
	    <input type="text" name="pl" required>
    </p><p>
	    <label for="mup">Модуль упругости (ГПа)</label>
	    <input type="text" name="mup" required>
    </p><p>
	    <label for="ko">Количество отвердителя (%)</label>
	    <input type="text" name="ko" required>
    </p><p>
        <label for="seg">Содержание эпоксидных групп (%)</label>
	    <input type="text" name="seg" required>
    </p><p>
        <label for="tf">Температура вспышки (С)</label>
	    <input type="text" name="tf" required>
    </p><p>
        <label for="pp">Поверхностная плотность (г/м2)</label>
	    <input type="text" name="pp" required>
    </p><p>
         <label for="ps">Потребление смолы (г/м2)</label>
	    <input type="text" name="ps" required>
    </p><p>
        <label for="an">Угол нашивки (град)</label>
	    <input type="number" name="an" min='0' max='360' step='1' required>
    </p><p>
        <label for="shn">Шаг нашивки</label>
	    <input type="text" name="shn" required>
    </p><p>
        <label for="pn">Плотность нашивки</label>
	    <input type="text" name="pn" required>
	</p>
    </fieldset>
	<p>
	    <input type="submit" value="Рассчитать">
        <input type="reset">
	</p>
    </form>
    <p>
    </p>
</body>
<footer>
</html>